<!-- <nav class="navbar navbar-expand navbar-dark bg-light mb-5 sticky">
  <div class="container">
    Booklist
    <ul *ngIf="loginService.loggedInStatus" class="list-unstyled navbar-nav">
      <li class="nav-item mr-5">
        <a [routerLink]="['/order-search']" routerLinkActive="router-link-active">Order Search</a>
      </li>
      <li class="nav-item">
        <a>
          <i (click)="popUpSelectedRooms()" class="fa fa-shopping-cart fa-lg" aria-hidden="true">
          </i>
          <span class="badge badge-success mr-5">{{orderService.selectedRooms.length}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="['/login']" routerLinkActive="router-link-active" (click)="logOut()"><span>Logout</span></a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- <section class="navigation" style="background-color: rgb(214, 214, 214);" id="navbar">
  <nav>
    <div class="nav-collapse" id="nav-toggle" href="#"><span></span>
      <ul class="nav-list">
        <img src="https://pp.userapi.com/c851424/v851424199/c1842/TsoIbYiFoxQ.jpg" width="200" height="70">
        <li href="#"><span class="glyphicon glyphicon glyphicon-calendar"></span> Calendar </li>
        <li class="rooms" href="#"><span class="glyphicon glyphicon glyphicon-home"></span>Rooms
          <ul class="nav-dropdown1">
            <li href="#">Rooms</li>
            <li href="#">Group</li>
          </ul>
        </li>
        <li class="price" href="#"><span class="glyphicon glyphicon glyphicon-usd"></span> Price
          <ul class="nav-dropdown2">
            <li href="#">Group price</li>
            <li href="#">Discount price</li>
          </ul>
        </li>

        <li href="#"><span class="glyphicon glyphicon glyphicon-wrench"></span> Tools </li>
      </ul>
      <div class="navbar-right" style="float: right">
        <div class="avatar img-responsive"><img class="circular-square"
            src="https://pp.userapi.com/c844721/v844721356/1ca729/TWpA5xLEfm0.jpg" alt="avatar">
          <div class="btn btn_black"><span class="glyphicon glyphicon glyphicon-bell"></span><a
              href="#"></a><span></span></div>
          <li class="brovi"><a href="#"> Псина с бровями </a></li>
          <ul class="nav-dropdown3">
            <li href="#"><span class="glyphicon glyphicon glyphicon-envelope"></span> Messages</li>
            <li href="#"><span class="glyphicon glyphicon glyphicon-cog"></span> Settings </li>
            <li href="#"><span class="glyphicon glyphicon glyphicon-off"></span> Log off </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section> -->

<app-main-nav></app-main-nav>