.sticky {
    position: sticky;
    top: 0em;
    min-height: 2em;
    height: 70px;
    z-index: 1;
    margin: inherit;
}
cdk-virtual-scroll-viewport {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}