<div class="text-left container">
  <mat-card class="row sticky">
    <mat-card-content>
      <!-- <div class="col-5 col-sm-5 col-md-3 col-lg-5 mb-1"> -->
      <button class="col-5 col-sm-5 col-md-3 col-lg-2" (click)='removeAddedRooms()' mat-raised-button
        color="primary">Cancel
      </button>
      <!-- </div> -->
      <!-- <div class="col-5 col-sm-5 col-md-3 col-lg-5 mb-1 ml-3"> -->
      <button class="col-6 col-sm-6 col-md-3 col-lg-2 ml-1" (click)='createArrNewOrders()' mat-raised-button
        color="accent">Submit</button>
      <!-- </div> -->
      <mat-form-field class="col-6 col-sm-6 col-md-3 col-lg-3 align-self-end">
        <mat-select placeholder="Filter Group" [(ngModel)]="roomsGroup" multiple #RoomGroup>
          <mat-option *ngFor="let group of orderService.groupName; let i = index" [value]="group"
            (click)="filterGroup()">
            {{group}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <cdk-virtual-scroll-viewport itemSize="100" class="mb-2">
    <li *cdkVirtualFor='let avlRooms of orderService.avlRooms'>
      <!-- <button (click)="click(RoomGroup.value, avlRooms.RoomGroupName )"></button> -->
      <app-available-room (sendOrderToListRooms)="receiveOrderFromAvlRoom($event)" [avlRooms]='avlRooms'>
      </app-available-room>
    </li>
  </cdk-virtual-scroll-viewport>
</div>