<mat-card class="mb-2">
  <mat-card-content>
    <mat-card class="roomCard">
      <mat-card-content>
        <form>
          <div class="row align-items-center">
            <div class="col-2">
              <h4 #RoomName>
                {{avlRooms.RoomGroupName + avlRooms.RoomNo}}
              </h4>
            </div>
            <div class="col-2" #ArrivalDate>{{orderService.searchInfoForNewOrderRoom.arrivalDate}}</div>
            <div class="col-2" #EvacuateDate>{{orderService.searchInfoForNewOrderRoom.evacuateDate}}</div>
            <mat-form-field class="col-1">
              <select matNativeControl required #MaxAdults [value]="orderService.searchInfoForNewOrderRoom.maxAdults">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </mat-form-field>
            <mat-form-field class="col-1">
              <select matNativeControl required #MaxChildren
                [value]="orderService.searchInfoForNewOrderRoom.maxChildren">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </mat-form-field>
            <mat-form-field class="col-1">
              <select matNativeControl required #MealType [value]="orderService.searchInfoForNewOrderRoom.mealType">
                <option value="1">R/O</option>
                <option value="2">B/B</option>
                <option value="3">H/B</option>
              </select>
              <select [hidden]='true' matNativeControl required>
                <option #Price [value]='avlRooms.PriceRo'>R/O</option>
                <option #Price [value]='avlRooms.PriceBB'>B/B</option>
                <option #Price [value]='avlRooms.PriceHB'>H/B</option>
              </select>
            </mat-form-field>
            <div class="col-1">
              <div class="" *ngIf="MealType.value == '1'">{{avlRooms.PriceRo}} NIS
              </div>
              <div class="" *ngIf="MealType.value == '2'">{{avlRooms.PriceBB}} NIS
              </div>
              <div class="" *ngIf="MealType.value == '3'">{{avlRooms.PriceHB}} NIS
              </div>
            </div>

            <div class="col-1">
              <button *ngIf="!avlRooms.order" (click)="addNewOrder(RoomName.innerHTML, ArrivalDate.innerHTML, EvacuateDate.innerHTML, MaxAdults.value, MaxChildren.value, MealType.value,avlRooms.RoomId, Price.value, avlRooms.RoomGroupId, avlRooms.RoomNo, avlRooms.RegularDays);
                            avlRooms.order=!avlRooms.order" mat-raised-button color="primary">Add Order</button>
              <button *ngIf="avlRooms.order" (click)="addNewOrder(RoomName.innerHTML, ArrivalDate.innerHTML, EvacuateDate.innerHTML, MaxAdults.value, MaxChildren.value, MealType.value,avlRooms.RoomId, Price.value, avlRooms.RoomGroupId, avlRooms.RoomNo, avlRooms.RegularDays);
                            avlRooms.order=!avlRooms.order" mat-raised-button color="accent">Added</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>