<mat-card class="mb-2">
  <mat-card-content>
    <mat-card class="roomCard"
      (click)="addNewOrder(RoomName.innerHTML, ArrivalDate.innerHTML, EvacuateDate.innerHTML, MaxAdults.value, MaxChildren.value, MealType.value,avlRooms.RoomId, avlRooms.RoomGroupId, avlRooms.RoomNo, avlRooms.RegularDays, avlRooms.maxinroom)">
      <mat-card-content>
        <form>
          <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 mb-3">
              <h4 #RoomName>
                {{avlRooms.RoomGroupName + avlRooms.RoomNo}}
              </h4>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-2">
              <p class="dateTitle"><strong>Arrival</strong></p>
              <p #ArrivalDate>{{orderService.searchInfoForNewOrderRoom.arrivalDate}}</p>
            </div>
            <div class="col-6 col-sm-8 col-md-8 col-lg-2">
              <p class="dateTitle"><strong>Departure</strong></p>
              <p #EvacuateDate>{{orderService.searchInfoForNewOrderRoom.evacuateDate}}</p>
            </div>
            <mat-form-field class="col-4 col-sm-4 col-md-4 col-lg-1">
              <p class="dateTitle"><strong>Adults</strong></p>
              <select (change)="removeAddedRoom(avlRooms.RoomId); avlRooms.howManyPeople = false" matNativeControl
                required #MaxAdults [value]="orderService.searchInfoForNewOrderRoom.maxAdults">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </mat-form-field>
            <mat-form-field class="col-4 col-sm-4 col-md-4 col-lg-1">
              <p class="dateTitle"><strong>Children</strong></p>
              <select (change)="removeAddedRoom(avlRooms.RoomId); avlRooms.howManyPeople = false" matNativeControl
                required #MaxChildren [value]="orderService.searchInfoForNewOrderRoom.maxChildren">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </mat-form-field>
            <mat-form-field class="col-4 col-sm-4 col-md-4 col-lg-1">
              <p class="dateTitle"><strong>M/T</strong></p>
              <select (change)="removeAddedRoom(avlRooms.RoomId); avlRooms.howManyPeople = false" matNativeControl
                required #MealType [value]="orderService.searchInfoForNewOrderRoom.mealType">
                <option value="1">R/O</option>
                <option value="2">B/B</option>
                <option value="3">H/B</option>
              </select>
            </mat-form-field>
            <h5 class="col-7 col-sm-7 col-md-6 col-lg-2 text-left" *ngIf="MealType.value == '1'">{{avlRooms.PriceRo}}
              NIS
            </h5>
            <h5 class="col-7 col-sm-7 col-md-6 col-lg-2 text-left" *ngIf="MealType.value == '2'">{{avlRooms.PriceBB}}
              NIS
            </h5>
            <h5 class="col-7 col-sm-7 col-md-6 col-lg-2 text-left" *ngIf="MealType.value == '3'">{{avlRooms.PriceHB}}
              NIS
            </h5>
            <button class="col-5 col-sm-5 col-md-5 col-lg-1" *ngIf="!avlRooms.howManyPeople" (click)="addNewOrder(RoomName.innerHTML, ArrivalDate.innerHTML, EvacuateDate.innerHTML, MaxAdults.value, MaxChildren.value, MealType.value,avlRooms.RoomId, avlRooms.RoomGroupId, avlRooms.RoomNo, avlRooms.RegularDays, avlRooms.maxinroom);
                            avlRooms.howManyPeople=!avlRooms.howManyPeople" mat-raised-button color="primary">Add
            </button>
            <button class="col-5 col-sm-5 col-md-5 col-lg-1" *ngIf="avlRooms.howManyPeople" (click)="addNewOrder(RoomName.innerHTML, ArrivalDate.innerHTML, EvacuateDate.innerHTML, MaxAdults.value, MaxChildren.value, MealType.value,avlRooms.RoomId, avlRooms.RoomGroupId, avlRooms.RoomNo, avlRooms.RegularDays, avlRooms.maxinroom);
                            avlRooms.howManyPeople=!avlRooms.howManyPeople" mat-raised-button
              color="accent">Added</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>