<div class="container-fluent">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="row">
        <!-- <div [hidden] *ngIf="!showScroll" class="col-1"></div> -->
        <!-- <div class="text-left"> -->

        <!-- </div> -->
        <div class="col-12">
            <div>
                <mat-card class="col-12 sticky">
                    <h1 class="text-left">Calendar</h1>
                    <mat-card-content>
                        <div class="row">
                            <mat-form-field class="col-3 col-sm-3 col-md-2 col-lg-2">
                                <input matInput [matDatepicker]="Date" (dateChange)="showRoomsForPickedDate(start)"
                                    placeholder="Choose a date" [min]="minStartDate" [(ngModel)]='start'>
                                <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #Date></mat-datepicker>
                            </mat-form-field>
                            <!-- <mat-form-field class="col-3 col-sm-3 col-md-2 col-lg-2">
                                <input matInput [matDatepicker]="Date" (change)='showRoomsForPickedDate(Date)'
                                    [(ngModel)]='start'>
                                <mat-datepicker-toggle (change)='showRoomsForPickedDate(Date)' matSuffix [for]="Date">
                                </mat-datepicker-toggle>
                                <mat-datepicker (change)='showRoomsForPickedDate(Date)' touchUi #Date>
                                </mat-datepicker>
                            </mat-form-field> -->
                            <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                                <button (click)="backToThisWeek()" mat-raised-button color="accent">This
                                    Week</button>
                            </div>
                            <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                                <button (click)='newOrder()' mat-raised-button color="primary">New
                                    Order</button>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn stickyarrow date col-1 left"
                                (click)="changeDate('prev');showBookedRooms()">
                                <i class="material-icons">
                                    arrow_back_ios</i>
                            </button>
                            <button (click)="changeDate('next');showBookedRooms()"
                                class="btn stickyarrow date text-right  col-1">
                                <i class="material-icons">
                                    arrow_forward_ios
                                </i>
                            </button>
                        </div>
                        <div class="row dateRow text-left">
                            <button class="btn stickyarrow col-1 left" (click)="changeDate('prev');showBookedRooms()">
                                <i class="material-icons">
                                    arrow_back_ios</i>
                            </button>
                            <button (click)="changeDate('next');showBookedRooms()"
                                class="btn stickyarrow text-right col-1">
                                <i class="material-icons">
                                    arrow_forward_ios
                                </i>
                            </button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[0] | groupFilter}}</button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[1] | groupFilter}}</button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[2] | groupFilter}}</button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[3] | groupFilter}}</button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[4] | groupFilter}}</button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[5] | groupFilter}}</button>
                            <button mat-raised-button color="basic"
                                class="col-1 ml-1">{{weekStart[6] | groupFilter}}</button>
                            <mat-form-field class="col-6 col-sm-6 col-md-2 col-lg-2 align-self-end">
                                <mat-select placeholder="Filter Group" [(ngModel)]="roomsGroup" multiple #RoomGroup>
                                    <mat-option (click)="test(roomsGroup)" [value]='group'
                                        *ngFor="let group of roomService.roomGroup; let i = index">
                                        {{group}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>


                <cdk-virtual-scroll-viewport itemSize="100" class="mb-2">
                    <ul class="list-group list-unstyled"
                        *ngFor="let group of allRooms | calendarGroupFilter: roomsGroup">
                        <div class="row mb-3">
                            <h4 class="col-12">Group: {{group.name}}<button
                                    (click)="group.hide=!group.hide;showBookedRooms()" class="btn btn-light btn-sm"><i
                                        [ngClass]="group.hide ? 'fa fa-plus': 'fa fa-minus'"></i></button></h4>
                        </div>
                        <ng-container *ngFor="let room of group['children']; let i=index">
                            <li class="list-group-item" *ngIf="!group.hide">
                                <div class="row">
                                    <div mat-button class="col-12 col-sm-12 col-md-2 col-lg-2">
                                        <strong>{{room.name}} </strong>
                                    </div>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[0] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[0],weekStart[0],room.id + '_1', room.id);popUpSelectedRooms(room.id + '_1', Sun._elementRef)"
                                        id="{{room.id + '_1'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Sun>
                                        Sun
                                    </button>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[1] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[1],weekStart[1],room.id + '_2',room.id );popUpSelectedRooms(room.id + '_2', Mon._elementRef)"
                                        id="{{room.id + '_2'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Mon>
                                        Mon
                                    </button>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[2] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[2],weekStart[2],room.id + '_3',room.id);popUpSelectedRooms(room.id + '_3', Tue._elementRef)"
                                        id="{{room.id + '_3'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Tue>
                                        Tue
                                    </button>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[3] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[3],weekStart[3],room.id + '_4',room.id);popUpSelectedRooms(room.id + '_4', Wed._elementRef)"
                                        id="{{room.id + '_4'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Wed>
                                        Wed
                                    </button>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[4] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[4],weekStart[4],room.id + '_5',room.id);popUpSelectedRooms(room.id + '_5', Th._elementRef)"
                                        id="{{room.id + '_5'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Th>
                                        Th
                                    </button>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[5] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[5],weekStart[5],room.id + '_6',room.id);popUpSelectedRooms(room.id + '_6', Fr._elementRef)"
                                        id="{{room.id + '_6'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Fr>
                                        Fr
                                    </button>
                                    <button mat-raised-button color="primary"
                                        class="col-3 mb-1 date">{{weekStart[6] | groupFilter}}</button>
                                    <button
                                        (click)="pickRoom(room.name,weekStart[6],weekStart[6],room.id + '_7',room.id);popUpSelectedRooms(room.id + '_7', Sa._elementRef)"
                                        id="{{room.id + '_7'}}" mat-button
                                        class="col-8 col-sm-1 col-md-1 col-lg-1 ml-1 mb-1" #Sa>
                                        Sa

                                    </button>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </cdk-virtual-scroll-viewport>

            </div>
        </div>
        <!-- <div [hidden] *ngIf="!showScroll" class="col-1"></div> -->
        <!-- <div class="col stickyarrow">
            <button (click)="changeDate('next');showBookedRooms()" class="btn">
                <i class="material-icons">
                    arrow_forward_ios
                </i>
            </button>
        </div> -->
    </div>
</div>