.full-width {
    width: 70%;
  }
cdk-virtual-scroll-viewport {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}
@media (min-width: 0px) {
    .order-title{
        display: none;
    }
     }
@media (min-width: 320px) {
    .order-title{
        display: none;
    }
     }
    @media (min-width: 576px) { 
        .remove-icon{
            display: none;
        }
     }
    
    
    @media (min-width: 768px) { 
        .remove-icon{
            display: none;
        }
     }
    
    
    @media (min-width: 992px) {
        .order-title{
            display: block;
        }
        .nights-title{
            display: none;
        }
        .remove-icon{
            display: none;
        }
    }
    
    @media (min-width: 1200px) {
        
     }