<div class="container">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="row mb-2">
    <button (click)="removeAddedRooms()" mat-raised-button color="disabled"
      class="col-5 col-sm-5 col-md-4 col-lg-2 col-xl-2 mr-1">Back
      to Calendar</button>
    <button *ngIf="customerInfo.roomDetail.length > 0" routerLink="/book/new-order" mat-raised-button color="primary"
      class="col-5 col-sm-5 col-md-4 col-lg-2 col-xl-2">Back to
      New Order</button>
  </div>

  <h2 class="text-left mb-5">Order Details</h2>
  <!-- <form action=""> -->
  <div class="row mb-3">
    <div class="col-6 text-left">
      <div class="form-group">
        <label>First Name</label>
        <input type="" class="form-control" [(ngModel)]="customerInfo.firstName">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="customerInfo.lastName">
      </div>
      <div class="form-group">
        <label>Cell Phone</label>
        <input type="phone" class="form-control" [(ngModel)]="customerInfo.phone">
      </div>
      <div class="form-group">
        <label>Home Phone</label>
        <input type="phone" class="form-control" [(ngModel)]="customerInfo.homePhone">
      </div>
      <div class="form-group">
        <label for="">Email </label>
        <input type="email" class="form-control" [(ngModel)]="customerInfo.email">
      </div>
      <div class="form-group">
        <label for="">Passport Number</label>
        <input type="number" class="form-control" [(ngModel)]="customerInfo.passport">
      </div>
      <div class="form-group">
        <label for="">Company Name</label>
        <input type="text" class="form-control" [(ngModel)]="customerInfo.companyName">
      </div>
    </div>
    <div class="col-6 text-left">
      <div class="form-group">
        <label for="">Language</label>
        <mat-form-field class="col-2">
          <select matNativeControl required>
            <option value="1">En</option>
            <option value="2">He</option>
            <option value="3">Sp</option>
          </select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" [(ngModel)]="customerInfo.city">
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input type="text" class="form-control" [(ngModel)]="customerInfo.address">
      </div>
      <div class="form-group">
        <label for="">Zip</label>
        <input type="number" class="form-control" [(ngModel)]="customerInfo.zip">
      </div>
    </div>
  </div>
  <button *ngIf="orderService.avlRooms !== undefined" routerLink="/book/new-order" mat-raised-button color="primary"
    class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 mr-1 mb-2">Back to
    New Order</button>
  <button (click)="submit()" *ngIf="orderId != 'new-order'" mat-raised-button color="accent"
    class="col-5 col-sm-5 col-md-4 col-lg-2 col-xl-2">Update</button>
  <button *ngIf="orderId == 'new-order'" mat-raised-button color="accent"
    class="col-5 col-sm-5 col-md-4 col-lg-2 col-xl-2">Submit</button>
  <!-- </form> -->
  <div>
    <ul class="list-unstyled">
      <mat-card style="background: #eeeeee" class="mb-2 order-title">
        <mat-card-content>
          <!-- <div class="row text-left">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2"><strong>Room Name</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-2"><strong>Arrival</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-2"><strong>Check-out</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1"><strong>Total Nights</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1"><strong>Adults</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1"><strong>Children</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1"><strong>Meal Type</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 text-left"><strong>Price</strong></div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1"><strong></strong></div>
          </div> -->
        </mat-card-content>
      </mat-card>
      <li class="list-group-item mb-2" *ngFor="let x of customerInfo.roomDetail">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-9 col-sm-9 col-md-10 col-lg-12 mb-3 text-left">
                <h4>{{x.RoomGroup}} {{x.RoomNumber}}{{x.name}}{{x.roomName}}
                </h4>
              </div>
              <!-- <div class="col-3 col-sm-3 col-md-2 col-lg-2 mb-3 remove-icon">
                <button (click)="removeAddedRoom(x.roomId)" mat-raised-button color="warn"><i class="material-icons">
                    clear
                  </i>
                </button>
              </div> -->
              <!-- <div class="col-3 col-sm-3 col-md-2 col-lg-2 mb-3 remove-icon">
                <i (click)="removeAddedRoom(x.roomId)" class="material-icons">
                  clear
                </i>
              </div> -->

              <!-- <div class="col-2"></div> -->
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-left">
                <p class="dateTitle"><strong>Arrival</strong></p>
                <p>{{x.ArriveDate}}{{x.startDate}}{{x.arrivalDate}}</p>
              </div>
              <div class="col-6 col-sm-8 col-md-9 col-lg-2 text-left">
                <p class="dateTitle"><strong>Departure</strong></p>
                <p>{{x.EvacuateDate}}{{x.endDate}}{{x.evacuateDate}}</p>
              </div>
              <div class="col-6 col-sm-8 col-md-9 col-lg-1 order-title">
                <p><strong>Nights</strong></p>
                <p>{{x.regularDays}}</p>
              </div>
              <div class="col-4 col-sm-4 col-md-2 col-lg-1 mb-3 ">
                <p class="dateTitle"><strong>Adults</strong></p>
                <p>{{x.maxAdults}}</p>
                <!-- <select class="custom-select" id="inputGroupSelect01" [value]="x.maxAdults">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select> -->
              </div>
              <div class="col-4 col-sm-4 col-md-2 col-lg-1 mb-3 ">
                <p class="dateTitle"><strong>Children</strong></p>
                <p>{{x.maxChildren}}</p>
                <!-- <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="x.maxChildren">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select> -->
              </div>
              <!-- <div class="col-1 input-group mb-3"> <select class="custom-select" id="inputGroupSelect01">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div> -->
              <div class="col-4 col-sm-4 col-md-2 col-lg-2 mb-3 ">
                <p class="dateTitle"><strong>M/T</strong></p>
                <p *ngIf="x.mealType == 1" value="1">R/O</p>
                <p *ngIf="x.mealType == 2" value="2">B/B</p>
                <p *ngIf="x.mealType == 3" value="3">H/B</p>
                <!-- <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="x.mealType">
                  <option value="1">R/O</option>
                  <option value="2">B/B</option>
                  <option value="3">H/B</option>
                </select> -->
              </div>
              <div class="col-7 col-sm-4 col-md-2 col-lg-1 nights-title">
                <p><strong>Nights</strong></p>
                <p>{{x.regularDays}}</p>
              </div>
              <div class="col-5 col-sm-4 col-md-2 col-lg right">
                <p class="dateTitle"><strong>Price</strong></p>
                <strong>{{x.Price}} NIS</strong>
              </div>
              <div class="col-8 col-sm-3 col-md-1 col-lg text-right">
                <button (click)="removeAddedRoom(x.roomId)" mat-raised-button color="warn"><i class="material-icons">
                    clear
                  </i>
                </button>
              </div>

              <!-- <i class="col-3 col-sm-3 col-md-2 col-lg-2 mb-3" (click)="removeAddedRoom(x.roomId)"
                class="material-icons">
                clear
              </i> -->
            </div>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
    <div class="mb-1 col-12">
      <mat-card>
        <mat-card-content class="row col-12 text-right">
          <h5 class="">Total Price: {{totalPrice}} NIS</h5>

          <button class="col-5 col-sm-3 col-md-3 col-lg-2 mr-1" (click)='removeAddedRooms()' mat-raised-button
            color="primary">Cancel Order
          </button>
          <button class="col-5 col-sm-3 col-md-3 col-lg-2" style="width: 200px" (click)="submit()"
            *ngIf="orderId != 'new-order'" mat-raised-button color="accent">Update</button>
          <button class="col-5 col-sm-3 col-md-3 col-lg-2" (click)="submitNewOrder()" style="width: 200px"
            *ngIf="orderId == 'new-order'" mat-raised-button color="accent">Submit</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


</div>