.full-width {
    width: 70%;
  }

@media (min-width: 0px) {
    .order-title{
        display: none;
    }
     }
@media (min-width: 320px) {
    .order-title{
        display: none;
    }
     }
    @media (min-width: 576px) { 
        .remove-icon{
            display: none;
        }
     }
    
    
    @media (min-width: 768px) { 
        .remove-icon{
            display: none;
        }
     }
    
    
    @media (min-width: 992px) {
        .order-title{
            display: block;
        }
        .nights-title{
            display: none;
        }
        .remove-icon{
            display: none;
        }
    }
    
    @media (min-width: 1200px) {
        
     }