<div class="container text-center">
  <div class="row">
    <!-- <div class="col-3"></div>
    <div class="col-6 sticky">
      <div class="row dateRow">
        <button (click)="backToThisWeek()" mat-raised-button color="accent" class="col-2">This
          Week</button>
        <button mat-raised-button class="col ml-2">{{weekStart[0]}}</button>
        <button mat-raised-button class="col ml-1">{{weekStart[1]}}</button>
        <button mat-raised-button class="col ml-1">{{weekStart[2]}}</button>
        <button mat-raised-button class="col mr-1 ml-1">{{weekStart[3]}}</button>
        <button mat-raised-button class="col mr-1">{{weekStart[4]}}</button>
        <button mat-raised-button class="col mr-1">{{weekStart[5]}}</button>
        <button mat-raised-button class="col mr-1">{{weekStart[6]}}</button>
      </div>
    </div>
    <div class="col-3"></div>
    <div class="col-2"></div> -->
    <div class="col-12"><a [routerLink]="['/book']" routerLinkActive="router-link-active"></a>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>